body {
    background: url(../images/pexels-tim-mossholder-1049688.jpg) center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
#navbarNav {
    font-weight: bold;
}

.navbar{
    background-color: rgba(50, 58, 63, 1);
    color: #fff;
    z-index: 1;
}


#top {
    margin-top: 300px;
    text-align: center;
    opacity: 0.3;
    
}

#top p {
    font-weight: normal;
}

.headercontent{
    margin-top: 6%;
    opacity: 0.8;
}

.headercontent .col .card h3 {
    text-align: left;
    padding-left: 10%;
}

.headercontent .col .card br {
    border: 1px solid #000;
}

.headercontent h1{
    padding: 3rem;
}

.headercontent p{
    padding: 0 10%;
}

.mapsection{
    background: rgba(50, 58, 63, 1);
    color: #fff;
}


#footer {

}